  .home {
    height: 100vh;
    background-color: #302f2f;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
   justify-content: center;
   align-items: center;
    /* animation: moveDot linear infinite, blinkDot 1s infinite; */
  }
  .parentBoxOfHomepageComponent{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-right: auto;
  }
  
  .MuiIconButton-root {
    /* background-color: #302f2f; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    float:left;
    margin-right: auto;
  }

  .MuiIconButton-root:hover {
    transform: scale(1.1);
    color: #ff0000; /* Change color on hover */
  }
  
  /* Increase the size of the icons */
  .MuiSvgIcon-root {
    font-size: 28px;
  }
  .name {
    font-size: 40px;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    position: relative;
    align-items: center;
    display: inline-block;
    font-weight: bold;
    align-items: baseline;
  }

.name::before,
.name::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ba0000;
  transform-origin: center;
  transition: width 1s; 
}


.name:hover::before {
    right: 0;
    width: 100%; 
  }

  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&family=Tektur:wght@400;500&display=swap');

  .e-cell-name {
    font-family: Raleway;
    color: rgb(244, 18, 18);
  }

  .e-cell-name:hover{
    transform: scale(1.05);
    color: #9b0c0c;
  }

  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

  .college-name {
    font-family: Chakra Petch;
    color: #ffffff;
    margin-left:10px ;
  }
  .college-name:hover{
    transform: scale(1.05);
    margin-left: 12px;
    color: #cec7c7;
  }

 
  .tagline-container {
    position: relative;
    background-color: #302f2f;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

  .tagline {
    color: #eae8e8;
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    /* margin-top: 0; */
  }
  

  
  .button {
    position: absolute;
    /* display: inline-block; */
    padding: 10px 20px;
    width: 60px;
    margin-left: 40%;
    background-color: rgb(244, 18, 18);
    color: #fff;
    text-decoration:double;
    border-radius: 8px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background-color: #9b0c0c;
    transform: scale(1.1);
  }
  
  