.social-media {
  margin-right: 97%;
}

.MuiIconButton-root {
  display: flex;
  flex-direction: column;
}

.MuiIconButton-root :hover {
  transform: scale(1.1);
  color: #ff0000;
}

@media (max-width: 930px) {
  .MuiIconButton-root {
    display: flex;
    flex-direction: row;
  }

  .social-media {
    top: 88%;
    margin-right: 0%;
  }
}

@media (max-width: 850px){
  .social-media {
    top: 85%;
    margin-right: 0%;
  }
}