  .social-media{
    display: flex;
    float: left;
    left: 0;
  }
  .MuiIconButton-root {
    display: flex;
    flex-direction: column;
  }

  .MuiIconButton-root :hover {
    transform: scale(1.1);
    color: #ff0000;
  }
  
  /* .MuiSvgIcon-root {
    font-size: 28px;
  } */