.footer{
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    margin-top: auto;
    box-shadow: 4px 4px 8px 8px rgb(105, 14, 14);

}

.word-gap{
    margin-left: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.developer{
    margin-left: 25%;
    margin-top: 25px;
    font-family: Pangolin;
}

.developer:hover{
    color: rgb(252, 79, 79);
    text-decoration:double;
}

/* @import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap'); */
.copyrights{
    margin-right: 25%;
    margin-top: 25px;
    font-family: Pangolin;
}
.copyrights:hover{
    color: rgb(252, 79, 79);
    text-decoration: double;
}