/* Footer.css */



.footer{
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    margin-top: auto;
    /* background-color: blue; */
    box-shadow: 4px 4px 8px 8px rgb(105, 14, 14);

}

.word-gap{
    margin-left: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.developer{
    /* text-align: right; */
    margin-left: 25%;
    margin-top: 25px;
    /* text-shadow: 5px; */
    font-family: Pangolin;
}

@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
.copyrights{
    margin-right: 25%;
    margin-top: 25px;
    font-family: Pangolin;
    /* font-size: 75%; */
    /* letter-spacing: 2px; */
}


/*  */

